@import 'tailwindcss';

:root{
    --primary-color: green;
    --primary-color-light:rgba(0, 128, 0, 0.536); /* Light Green */
    --secondary-color: #ff6f61; /* Coral */
}

*{
    
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
nav div ul li a,
.services{
    position: relative;
    font-size: large;
    font-weight: 300;
    letter-spacing: 1px;
}
.services{
    text-decoration: none;
}
nav div ul li a:hover
.services:hover{
    color: var(--primary-color);
}
nav div ul li a.active{
    color: var(--primary-color);
}
@media (min-width:557px)   {
    nav div ul li a::after{
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width .3s;
}
nav div ul li a:hover::after{
    width: 100%;
}
}

.services ul li a:hover{
    color: var(--primary-color);
}

.hero_header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/assets/environment_GettyImages-501231894.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.hero_header a:hover{
    background-color: var(--primary-color);
    color: white;
    transition: all 0.5s;
}
.hero_header .card::after{
    content: '';
    display: block;
    width:1px;
    height: 80%;
    position: absolute;
    right: 0;
    top: 10%;
    background: rgba(0, 0, 0, 0.112);
    
}
.circle::after{
    content: ' ';
    display: block;
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 100%;
    background-color: var(--primary-color);

}
.header{
    position: relative;
    color: var(--primary-color);
    padding-bottom: 4px;
}
.header::after{
    content: '';
    display: block;
    height: 1px;
    width:80px;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: var(--primary-color);
    transform: translateX(-50%);
    
}

@media  (max-width: 993px) {
    .isOpen ul>li{
    height: 100%;
}
.isClose ul>li{
    height: 0;
    visibility: hidden;
}
nav div ul li{
    padding: 0 0 5px 0;
    width: 100%;
}
}


/* @media screen and (max-width: 768px){
    .nav div ul>li a{
        padding: 0.5rem 0;
    }
    
} */